@use 'src/styles/variables' as v;

.root {
  display: flex;
  overflow: hidden;
  height: 100vh;
  box-shadow: 0 2px 12px 2px #eee;
  .icon-bar {
    flex-basis: 3rem;
    position: relative;
    box-sizing: border-box;
    padding: 0.5rem;
    height: 100%;
    background-color: #4a4a4a;
    .icon {
      position: relative;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .expand {
      width: 2rem;
      height: 2rem;
      position: absolute;
      bottom: 0;
    }
    svg {
      width: 16px;
      height: 16px;
      color: #757575;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      &:hover {
        color: v.$primary;
        transition: ease-in-out 300ms;
      }
    }
  }
  .tab {
    overflow: hidden;
    &.open {
      width: 15rem;
    }
    &.close {
      width: 0rem;
      box-sizing: content-box;
    }
  }
}
